<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Macro per un lidar 2D -->
  <xacro:macro name="lidar2d_sensor" params="name:=lidar parent:=base_link update_rate:=20 *origin">

    <!-- Joint fisso tra base_link e lidar_link -->
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <!-- Link del lidar -->
    <link name="${name}_link">
      <xacro:inertial_dummy />

      <!-- Sensore LIDAR -->
      <sensor name="${name}" type="lidar">
        <always_on>true</always_on>
        <update_rate>${update_rate}</update_rate>
        <topic>${name}/scan</topic>
        <lidar>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-1.57</min_angle>
            <max_angle>1.57</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>0.0</max_angle>
          </vertical>
          <range>
            <min>0.12</min>
            <max>12.0</max>
            <resolution>0.01</resolution>
          </range>
        </lidar>
      </sensor>

      <!-- opzionale: visual per vedere il lidar nel rendering -->
      <visual>
        <geometry>
          <cylinder>
            <radius>0.05</radius>
            <length>0.1</length>
          </cylinder>
        </geometry>
        <material>
          <ambient>0 1 0 1</ambient>
          <diffuse>0 1 0 1</diffuse>
        </material>
      </visual>
    </link>

  </xacro:macro>
</robot>
